
@model RtuModel

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip({
        placement: 'bottom'
    });
});
</script>
<style type="text/css">
    .bs-example {
        margin: 50px;
    }

        .bs-example a {
            font-size: 22px;
            text-decoration: none;
            margin: 0 10px;
        }
</style>
<div class="jumbotron text-center">
    <h1>Provision RTU</h1>
    <p></p>
</div>

@if (!string.IsNullOrEmpty(@ViewBag.LUSS))
{
<div class="container">
    <div class="row">
        <h3>Use this LUSS in module twin to provision the RTU</h3>
    </div>
    <div class="row" style="font-size:x-large;color:blue">
        <h3>@ViewBag.LUSS</h3>
    </div>
</div>

}
else
{
    <div class="container">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <div class="row">
                <div class="col-sm-4">
                    <h4>Unit ID <a href="#"><span class="glyphicon glyphicon-info-sign" style="font-size:x-small" data-toggle="tooltip" data-original-title="Unit ID of physical RTU"></span></a></h4>
                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.UnitId, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Virtual RTU ID <a href="#"><span class="glyphicon glyphicon-info-sign" style="font-size:x-small" data-toggle="tooltip" data-original-title="One word unique name of RTU"></span></a></h4>
                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.VirtualRtuId, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Device ID <a href="#"><span class="glyphicon glyphicon-info-sign" style="font-size:x-small" data-toggle="tooltip" data-original-title="One word unique name of IoT Edge Device"></span></a></h4>
                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.DeviceId, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Piraeus Hostname <a href="#"><span class="glyphicon glyphicon-info-sign" style="font-size:x-small" data-toggle="tooltip" data-original-title="Piraeus hostname"></span></a></h4>
                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Hostname, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>ModBus Container Name <a href="#"><span class="glyphicon glyphicon-info-sign" style="font-size:x-small" data-toggle="tooltip" data-original-title="ModBus container name on IoT Edge device."></span></a></h4>
                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.ModBusContainerName, new { @class = "form-control" })
                </div>
            </div>            
            <div class="row">
                <div class="col-sm-4">
                    <h4>ModBus Container Port <a href="#"><span class="glyphicon glyphicon-info-sign" style="font-size:x-small" data-toggle="tooltip" data-original-title="Internal communication port used by the ModBus container."></span></a></h4>
                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.ModBusPort, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>ModBus Container REST Path <a href="#"><span class="glyphicon glyphicon-info-sign" style="font-size:x-small" data-toggle="tooltip" data-original-title="Path of the REST endpoint of the ModBus container."></span></a></h4>
                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.ModBusPath, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>LUSS expiry minutes <a href="#"><span class="glyphicon glyphicon-info-sign" style="font-size:x-small" data-toggle="tooltip" data-original-title="Number of minutes until generated LUSS expires."></span></a></h4>
                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.ExpirationMinutes, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <button type="submit">Create</button>
                </div>
            </div>

        }
    </div>
}
